<h1 style="text-align: center;color: darkblue;font-family: 'Lucida Sans'">WELCOME TO SBI</h1>
<div class="jumbotron"style="text-center;">
  <div class="container text-center"  >
      <ul class="nav navbar-nav ml-auto">
          
              <!-- <a routerLink="/withdraw" class="nav-link">Withdraw</a> 
         
              <a routerLink="/deposit" class="nav-link ">Depost</a> 
  
              <a routerLink="/fundTransfer"class="nav-link" >Fund Transfer</a> -->

              <div class="btn-group">
                  <button type="button" name="wButton"class="btn btn-primary" routerLink='/withdraw'>Withdraw</button>
                  <button type="button"name="dButton" class="btn btn-warning"routerLink='/deposit'>Deposit</button>
                  <button type="button" name="fButton" class="btn btn-danger"routerLink='/fundTransfer'>Fund Transfer</button>
                  <button type="button" class="btn btn-info"routerLink='/showBalance'>Show Balance</button>
                  <button type="button" class="btn btn-secondary"routerLink=''>Logout</button>
              </div>
                   
          
      </ul>
    </div>
</div>

